:root {
/* Mavennet */
--primary--70--mavennet: #af75f0;
--primary--60--mavennet: #964beb;
--primary--50--mavennet: #791ae5;
/* Metaltrail */
--primary--70--metal: #8075f0;
--primary--60--metal: #584beb;
--primary--50--metal: #2b1ae5;
/* Neoflow */
--primary--70--neoflow: #75a2f0;
--primary--60--neoflow: #4c86eb;
--primary--50--neoflow: #1a64e5;
/* Mavennet */
--highlight--99--mavennet: #fcfafe;
--highlight--98--mavennet: #faf6fe;
--highlight--95--mavennet: #f2e8fc;
--highlight--90--mavennet: #e4d1fa;
--highlight--85--mavennet: #d7baf7;
--highlight--80--mavennet: #c9a3f5;
/* Metaltrail */
--highlight--99--metal: #fbfafe;
--highlight--98--metal: #f7f6fe;
--highlight--95--metal: #eae8fc;
--highlight--90--metal: #d4d1fa;
--highlight--85--metal: #bfbaf7;
--highlight--80--metal: #aaa3f5;
/* Neoflow */
--highlight--99--neoflow: #fafcfe;
--highlight--98--neoflow: #f6f9fe;
--highlight--95--neoflow: #e8f0fc;
--highlight--90--neoflow: #d1e0fa;
--highlight--85--neoflow: #bad1f7;
--highlight--80--neoflow: #a3c1f5;
/* Mavennet */
--shadow--40--mavennet: #6114b8;
--shadow--30--mavennet: #490f8a;
--shadow--20--mavennet: #300a5c;
--heading--10--mavennet: #18052e;
/* Metaltrail */
--shadow--40--metal: #2214b8;
--shadow--30--metal: #1a0f8a;
--shadow--20--metal: #110a5c;
--heading--10--metal: #09052e;
/* Neoflow */
--shadow--40--neoflow: #1450b8;
--shadow--30--neoflow: #0f3c8a;
--shadow--20--neoflow: #0a285c;
--heading--10--neoflow: #05142e;
/* Gray */
--gray--100: #ffffff;
--gray--99: #fcfcfc;
--gray--98: #fafafa;
--gray--95: #f2f2f2;
--gray--90: #e5e5e5;
--gray--85: #d9d9d9;
--gray--80: #cccccc;
--gray--50: #808080;
--gray--30: #4d4d4d;
--gray--0: #000000;
/* Mavennet */
--body--50--mavennet: #7f738c;
--body--30--mavennet: #4c4554;
/* Metaltrail */
--body--50--metal: #75738c;
--body--30--metal: #464554;
/* Neoflow */
--body--50--neoflow: #737c8c;
--body--30--neoflow: #454a54;
/* Mavennet */
--fade--70--mavennet: #b194d1;
--fade--60--mavennet: #9670c2;
--fade--50--mavennet: #7c4db2;
--fade--40--mavennet: #633d8f;
--fade--30--mavennet: #4b2e6b;
--fade--20--mavennet: #321f47;
/* Metaltrail */
--fade--70--metal: #9994d1;
--fade--60--metal: #7770c2;
--fade--50--metal: #554db2;
--fade--40--metal: #443d8f;
--fade--30--metal: #332e6b;
--fade--20--metal: #221f47;
/* Neoflow */
--fade--70--neoflow: #94aad1;
--fade--60--neoflow: #708ec2;
--fade--50--neoflow: #4d72b2;
--fade--40--neoflow: #3d5b8f;
--fade--30--neoflow: #2e446b;
--fade--20--neoflow: #1f2e47;
/* Secondary */
--secondary--99: #fefbfd;
--secondary--98: #fdf7fb;
--secondary--95: #faebf6;
--secondary--90: #f4d7ed;
--secondary--80: #eaaedb;
--secondary--70: #df86c9;
--secondary--60: #d55db7;
--secondary--50: #ce45ad;
--secondary--40: #a22a84;
--secondary--30: #8a2471;
/* Accent */
--accent--99: #fbfefe;
--accent--98: #f8fcfc;
--accent--95: #edf8f8;
--accent--90: #dbf0f0;
--accent--80: #b7e1e1;
--accent--70: #92d3d3;
--accent--60: #6ec4c4;
--accent--50: #4cb6b6;
--accent--30: #2a767a;
--accent--40: #3b9191;
/* Success */
--success--main: #2d9900;
--success--background: #edffe5;
--success--text: #268000;
/* Error */
--error--main: #d3080c;
--error--background: #ffe6e6;
--error--text: #990003;
/* Progress */
--progress--main: #3385ff;
--progress--background: #e5f0ff;
--progress--text: #005feb;
/* Pending */
--pending--main: #ff9900;
--pending--background: #fff5e5;
--pending--text: #a36200;

}