:root {
    /* Color styles */
--primary--70: hsla(268, 80.4%, 70%, 1);
--primary--60: hsla(268, 80%, 60.8%, 1);
--primary--50: hsla(268, 79.6%, 50%, 1);
--primary--70--metal: hsla(245, 80.4%, 70%, 1);
--primary--60--metal: hsla(245, 80%, 60.8%, 1);
--primary--50--metal: hsla(245, 79.6%, 50%, 1);
--primary--70--neoflow: hsla(218, 80.4%, 70%, 1);
--primary--60--neoflow: hsla(218, 79.9%, 61%, 1);
--primary--50--neoflow: hsla(218, 79.6%, 50%, 1);
--highlight--99: hsla(270, 66.7%, 98.8%, 1);
--highlight--98: hsla(270, 80%, 98%, 1);
--highlight--95: hsla(270, 76.9%, 94.9%, 1);
--highlight--90: hsla(268, 80.4%, 90%, 1);
--highlight--85: hsla(269, 79.2%, 84.9%, 1);
--highlight--80: hsla(268, 80.4%, 80%, 1);
--highlight--99--metal: hsla(255, 66.7%, 98.8%, 1);
--highlight--98--metal: hsla(248, 80%, 98%, 1);
--highlight--95--metal: hsla(246, 76.9%, 94.9%, 1);
--highlight--90--metal: hsla(244, 80.4%, 90%, 1);
--highlight--85--metal: hsla(245, 79.2%, 84.9%, 1);
--highlight--80--metal: hsla(245, 80.4%, 80%, 1);
--highlight--99--neoflow: hsla(210, 66.7%, 98.8%, 1);
--highlight--98--neoflow: hsla(218, 80%, 98%, 1);
--highlight--95--neoflow: hsla(216, 76.9%, 94.9%, 1);
--highlight--90--neoflow: hsla(218, 80.4%, 90%, 1);
--highlight--85--neoflow: hsla(217, 79.2%, 84.9%, 1);
--highlight--80--neoflow: hsla(218, 80.4%, 80%, 1);
--shadow--40: hsla(268, 80.4%, 40%, 1);
--shadow--30: hsla(268, 80.4%, 30%, 1);
--shadow--20: hsla(268, 80.4%, 20%, 1);
--shadow--10: hsla(268, 80.4%, 10%, 1);
--shadow--40--metal: hsla(245, 80.4%, 40%, 1);
--shadow--30--metal: hsla(245, 80.4%, 30%, 1);
--shadow--20--metal: hsla(245, 80.4%, 20%, 1);
--shadow--10--metal: hsla(246, 80.4%, 10%, 1);
--shadow--40--neoflow: hsla(218, 80.4%, 40%, 1);
--shadow--30--neoflow: hsla(218, 80.4%, 30%, 1);
--shadow--20--neoflow: hsla(218, 80.4%, 20%, 1);
--shadow--10--neoflow: hsla(218, 80.4%, 10%, 1);
--gray--100: hsla(0, 0%, 100%, 1);
--gray--99: hsla(0, 0%, 98.8%, 1);
--gray--98: hsla(0, 0%, 98%, 1);
--gray--95: hsla(0, 0%, 94.9%, 1);
--gray--90: hsla(0, 0%, 89.8%, 1);
--gray--85: hsla(0, 0%, 85.1%, 1);
--gray--80: hsla(0, 0%, 80%, 1);
--gray--50: hsla(0, 0%, 50.2%, 1);
--gray--30: hsla(0, 0%, 30.2%, 1);
--gray--0: hsla(0, 0%, 0%, 1);
--gray--50--metal: hsla(245, 9.8%, 50%, 1);
--gray--30--metal: hsla(244, 9.8%, 30%, 1);
--gray--50--neoflow: hsla(218, 9.8%, 50%, 1);
--gray--30--neoflow: hsla(220, 9.8%, 30%, 1);
--fade--70: hsla(269, 39.9%, 70%, 1);
--fade--60: hsla(268, 40.2%, 60%, 1);
--fade--50: hsla(268, 39.6%, 50%, 1);
--fade--40: hsla(268, 40.2%, 40%, 1);
--fade--30: hsla(269, 39.9%, 30%, 1);
--fade--20: hsla(269, 39.2%, 20%, 1);
--fade--70--metal: hsla(245, 39.9%, 70%, 1);
--fade--60--metal: hsla(245, 40.2%, 60%, 1);
--fade--50--metal: hsla(245, 39.6%, 50%, 1);
--fade--40--metal: hsla(245, 40.2%, 40%, 1);
--fade--30--metal: hsla(245, 39.9%, 30%, 1);
--fade--20--metal: hsla(245, 39.2%, 20%, 1);
--fade--70--neoflow: hsla(218, 39.9%, 70%, 1);
--fade--60--neoflow: hsla(218, 40.2%, 60%, 1);
--fade--50--neoflow: hsla(218, 39.6%, 50%, 1);
--fade--40--neoflow: hsla(218, 40.2%, 40%, 1);
--fade--30--neoflow: hsla(218, 39.9%, 30%, 1);
--fade--20--neoflow: hsla(218, 39.2%, 20%, 1);
--secondary--98: hsla(320, 60%, 98%, 1);
--secondary--95: hsla(316, 60%, 95.1%, 1);
--secondary--90: hsla(314, 56.9%, 90%, 1);
--secondary--80: hsla(315, 58.8%, 80%, 1);
--secondary--50: hsla(314, 58.3%, 53.9%, 1);
--secondary--40: hsla(315, 58.8%, 40%, 1);
--secondary--30: hsla(315, 58.6%, 34.1%, 1);
--accent--98: hsla(180, 40%, 98%, 1);
--accent--95: hsla(180, 44%, 95.1%, 1);
--accent--90: hsla(180, 41.2%, 90%, 1);
--accent--80: hsla(180, 41.2%, 80%, 1);
--accent--50: hsla(180, 42.1%, 50.6%, 1);
--accent--30: hsla(183, 48.8%, 32.2%, 1);
--accent--40: hsla(180, 42.2%, 40%, 1);
--success--main: hsla(102, 100%, 30%, 1);
--success--background: hsla(102, 100%, 94.9%, 1);
--success--text: hsla(102, 100%, 25.1%, 1);
--error--main: hsla(359, 92.7%, 42.9%, 1);
--error--background: hsla(0, 100%, 95.1%, 1);
--error--text: hsla(359, 100%, 30%, 1);
--progress--main: hsla(216, 100%, 60%, 1);
--progress--background: hsla(215, 100%, 94.9%, 1);
--progress--text: hsla(216, 100%, 46.1%, 1);
--pending--main: hsla(36, 100%, 50%, 1);
--pending--background: hsla(37, 100%, 94.9%, 1);
--pending--text: hsla(36, 100%, 32%, 1);
}