:root {

--strong--8:  0px 8px 10px rgba(0, 0, 0, 0.08), 0px 3px 14px rgba(0, 0, 0, 0.08), 0px 4px 5px rgba(0, 0, 0, 0.08);
--strong--16:  0px 16px 24px rgba(0, 0, 0, 0.08), 0px 6px 30px rgba(0, 0, 0, 0.08), 0px 8px 10px rgba(0, 0, 0, 0.08);
--strong--24:  0px 24px 38px rgba(0, 0, 0, 0.1), 0px 9px 46px rgba(0, 0, 0, 0.1), 0px 11px 15px rgba(0, 0, 0, 0.12);
--soft--12:  0px 12px 12px rgba(0, 0, 0, 0.04), 0px 5px 12px rgba(0, 0, 0, 0.04), 0px 7px 12px rgba(0, 0, 0, 0.04);
--soft--24:  0px 16px 24px rgba(0, 0, 0, 0.04), 0px 6px 24px rgba(0, 0, 0, 0.04), 0px 8px 24px rgba(0, 0, 0, 0.04);
--soft--64:  0px 24px 64px rgba(0, 0, 0, 0.04), 0px 9px 64px rgba(0, 0, 0, 0.04), 0px 11px 64px rgba(0, 0, 0, 0.04);

}
