@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap');

.work-sans-96-thin {
	font-size:96px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:100px;
}
.work-sans-96-light {
	font-size:96px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:100px;
}
.work-sans-96-regular {
	font-size:96px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:100px;
}
.work-sans-96-semi-bold {
	font-size:96px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:100px;
}
.work-sans-96-bold {
	font-size:96px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:100px;
}
.work-sans-60-thin {
	font-size:60px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:110.00000238418579px;
}
.work-sans-60-light {
	font-size:60px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:110.00000238418579px;
}
.work-sans-60-regular {
	font-size:60px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:110.00000238418579px;
}
.work-sans-60-semi-bold {
	font-size:60px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:110.00000238418579px;
}
.work-sans-60-bold {
	font-size:60px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:110.00000238418579px;
}
.work-sans-48-thin {
	font-size:48px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:114.99999761581421px;
}
.work-sans-48-light {
	font-size:48px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:114.99999761581421px;
}
.work-sans-48-regular {
	font-size:48px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:114.99999761581421px;
}
.work-sans-48-semi-bold {
	font-size:48px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:114.99999761581421px;
}
.work-sans-48-bold {
	font-size:48px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:114.99999761581421px;
}
.work-sans-34-thin {
	font-size:34px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:129.99999523162842px;
}
.work-sans-34-light {
	font-size:34px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:129.99999523162842px;
}
.work-sans-34-regular {
	font-size:34px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:129.99999523162842px;
}
.work-sans-34-semi-bold {
	font-size:34px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:129.99999523162842px;
}
.work-sans-34-bold {
	font-size:34px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:129.99999523162842px;
}
.work-sans-24-thin {
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:150px;
}
.work-sans-24-light {
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:150px;
}
.work-sans-24-regular {
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:150px;
}
.work-sans-24-semi-bold {
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:150px;
}
.work-sans-24-bold {
	font-size:24px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:150px;
}
.work-sans-20-thin {
	font-size:20px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-20-light {
	font-size:20px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-20-regular {
	font-size:20px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-20-semi-bold {
	font-size:20px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-20-bold {
	font-size:20px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-18-light {
	font-size:18px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-18-thin {
	font-size:18px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-18-regular {
	font-size:18px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-18-semi-bold {
	font-size:18px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-18-bold {
	font-size:18px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-16-thin {
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-16-light {
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-16-regular {
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-16-semi-bold {
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-16-bold {
	font-size:16px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:179.99999523162842px;
}
.work-sans-14-thin {
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:200px;
}
.work-sans-14-light {
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:200px;
}
.work-sans-14-regular {
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:200px;
}
.work-sans-14-semi-bold {
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:200px;
}
.work-sans-14-bold {
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:200px;
}
.work-sans-12-thin {
	font-size:12px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:200px;
}
.work-sans-12-light {
	font-size:12px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:200px;
}
.work-sans-12-regular {
	font-size:12px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:200px;
}
.work-sans-12-semi-bold {
	font-size:12px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:200px;
}
.work-sans-12-bold {
	font-size:12px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:200px;
}
.work-sans-10-thin {
	font-size:10px;
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	font-style:normal;
	line-height:250px;
}
.work-sans-10-light {
	font-size:10px;
	font-family: 'Work Sans', sans-serif;
	font-weight:300;
	font-style:normal;
	line-height:250px;
}
.work-sans-10-regular {
	font-size:10px;
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:normal;
	line-height:250px;
}
.work-sans-10-semi-bold {
	font-size:10px;
	font-family: 'Work Sans', sans-serif;
    font-weight:600;
    font-style:normal;
	line-height:250px;
}
.work-sans-10-bold {
	font-size:10px;
	font-family: 'Work Sans', sans-serif;
	font-weight:700;
	font-style:normal;
	line-height:250px;
}